<div class="grid-row">
  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Date of release</dt>
      <dd>2 November 2017</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Feature</dt>
      <dd>Claim capture</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Related stories</dt>
      <dd></dd>
    </dl>
  </div>
</div>

<h2 class="heading-medium">Task List pattern</h2>

<h3 class="heading-small">First iteration</h3>

<p>
  In this prototype, we were looking at how agents might handle capturing a new
  claim. Unlike the linear journey, this version explores allowing the agents to 
  process a claim in whichever order they like.
</p>

<h3 class="heading-small">Research notes</h3>
<p>
  Research notes to follow.
</p>

<br />

<a href="/claim-capture-list/version-1" class="button button-start">Start now</a>
