<div class="grid-row">
  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Date of release</dt>
      <dd>Not released yet.</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Feature</dt>
      <dd>Combined flow</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Related stories</dt>
      <dd></dd>
    </dl>
  </div>
</div>

<h2 class="heading-medium">Task List pattern</h2>

<h3 class="heading-small">Changes</h3>

<ul class="list list-bullet">
  <li>Split initial information into a 3 page journey</li>
  <li>Added partner details into initial capture for duplicate check</li>
  <li>New journey for marriage verification</li>
  <li>6 Scenarios added for user research</li>
</ul>

<h3 class="heading-small">Research notes</h3>
<p>
  Not yet researched.
</p>

<br />

<a href="/claim-capture-list/version-5" class="button button-start">Start now</a>
