.dashboard-group {
    margin-top: $gutter
}

.dashboard-links {
    // margin-bottom: 20px;
}

a.dashboard-links {
    color: white;
    text-decoration: none;
    display: block;
}

.service-name {
    display: block;
    min-height: 70px;
    background-color: $black;
    font-size: 26px;         /*was 32px*/
    font-weight: bold;
    padding: 10px 20px;
}

.alert-name-blue {
    margin-top: 5px;
    display: block;
    background-color: $govuk-blue;
    padding: 7px 15px;
}

.alert-name-blue:hover {
    text-decoration: underline;
}

.alert-name-red {
    margin-top: 5px;
    display: block;
    background-color: $mellow-red;
    padding: 7px 15px;
}

.alert-name-red:hover {
    text-decoration: underline;
}

.alert-name-green {
    margin-top: 5px;
    display: block;
    background-color: $grass-green;
    padding: 7px 15px;
}

.alert-name-green:hover {
    text-decoration: underline;
}

@media (min-width: 641px) {
    .service-name {
        display: block;
        min-height: 70px;
    }
}

/*End of dashboard style*/


/*New dashboard melody*/

.dash-links {
    margin-bottom: 20px;
}

a.dash-links {
    color: white;
    text-decoration: none;
    display: block;
}

.serv-name {
    display: block;
    min-height: 70px;
    background-color: $black;
    font-size: 26px;         /*was 32px*/
    font-weight: bold;
    padding: 10px 20px;
}

.alert-name-blue {
    margin-top: 5px;
    display: block;
    background-color: $govuk-blue;
    padding: 7px 15px;
}

.alert-name-blue:hover {
    text-decoration: underline;
}

.alert-name-red {
    margin-top: 5px;
    display: block;
    background-color: $mellow-red;
    padding: 7px 15px;
}

.alert-name-red:hover {
    text-decoration: underline;
}

.alert-name-green {
    margin-top: 5px;
    display: block;
    background-color: $grass-green;
    padding: 7px 15px;
}

.alert-name-green:hover {
    text-decoration: underline;
}

@media (min-width: 641px) {
    .serv-name {
        display: block;
        min-height: 70px;
    }
}

/*End of dashboard melody*/