.dashboard-group {
    margin-top: $gutter;

    .dashboard-item {
        @extend .column-third;


        
        a {
            background: $white;
            display: block;
            text-decoration: none;

            &:hover {
                .service-name {
                    background: darken($link-colour,8%);
                    border-bottom: 3px solid darken($link-colour,20%);
                }
            }
            &:active {
                .service-name {
                    border-bottom: 3px solid darken($link-colour,10%);
                    margin-top: 3px;
                    position: relative;
                }
                .alert {
                    margin-bottom: -3px;
                }
            }
        }

        .service-name {
            @extend .heading-medium;
            margin: 0;
            background: $link-colour;
            border-bottom: 3px solid darken($link-colour,12%);
            display: block;
            min-height: 70px;
            color: $white;
            padding: $gutter-half;
        }

        .alert {
            margin-top: $gutter-one-quarter;
            color: $white;
            display: block;
            padding: 7px 15px;

            &.alert-info {
                background: $grey-3;
                color: $black;
                &:hover {
                    background: darken
                }
            }

            &.alert-important {
                background: $orange-25;
                color: $orange;
                font-weight: bold;
            }

            &.alert-success {
                background: $green-25;
                color: $green;
                font-weight: bold;
            }
        }

        @include media(mobile) {
            width: 100%;
            margin-top: $gutter;

            .service-name {
                min-height: auto
            }

            a {
            background: $white;
            display: block;
            text-decoration: none;

            &:hover {
                .service-name {
                    background: darken($link-colour,10%);
                    border-bottom: 3px solid darken($link-colour,15%);
                }
            }
            &:active {
                .service-name {
                    border-bottom: 3px solid darken($link-colour,10%);
                    top: 3px;
                    position: relative;
                }
                .alert {
                    top: 3px;
                    position: relative;
                    margin-bottom: 3px;
                }
            }
        }
        }
    }
}