<div class="grid-row">
  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Date of release</dt>
      <dd>n/a</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Feature</dt>
      <dd>Payment Scheduler</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Related stories</dt>
      <dd>n/a</dd>
    </dl>
  </div>
</div>

<h2 class="heading-medium">Changes made</h2>
<p>
  Mollit ut commodo mollit laboris in in eiusmod ut ut ex est qui velit sint ea culpa amet dolore do fugiat magna non nulla fugiat sunt dolore ad veniam consectetur esse id cillum in dolore adipisicing excepteur.
</p>

<h2 class="heading-medium">Research notes</h2>
<p>
  Aute amet et in occaecat voluptate dolore ex aliquip in sed irure et dolor culpa ad do elit labore labore occaecat. Sit dolor proident tempor aute sunt enim eu do sit sed nulla cupidatat elit magna nulla mollit aliquip ad eiusmod adipisicing dolore sed et reprehenderit aliqua nulla in elit anim dolore consequat amet incididunt pariatur. Voluptate in aliqua dolor ea excepteur in magna magna sit amet amet est ea est ut sed cillum excepteur fugiat laborum esse ut id dolor quis consectetur in eu.
</p>

<br />

<a href="/version-2" class="button button-start">Start now</a>
