{% extends "layout.html" %}

{% block page_title %}
{{serviceName}}
{% endblock %}

{% block content %}
{% include '../includes/_header-nav.html' %}

<main id="content" role="main">
	<div class="service-info">
		<div class="phase-banner-beta">
			<p>
				<strong class="phase-tag">BETA</strong>
				<span>This is a new service – your <a href="https://www.surveymonkey.co.uk/r/accessmylevysurvey" target="_blank">feedback</a> will help us to improve it. </span>
			</p>
		</div>
	</div>

	<div class="grid-row">
		<div class="column-two-thirds">
			<a class="link-back" href="javascript:history.back()">Back</a>

			<h1 class="heading-large">
				Individualised Learner Records (ILR)
			</h1>

		</div>

		<div class="column-one-third">
			{% include '../includes/_return-period-info.html' %}
		</div>
	</div>
</main>
{% endblock %}