{% extends "layout.html" %}

{% block page_title %}
{{serviceName}}
{% endblock %}

{% block content %}
{% include '../includes/_header-nav.html' %}

<main id="content" role="main">
	{% include version + '/includes/_phase-banner.html' %}

	<div class="grid-row">
		<div class="column-two-thirds">
			<a class="link-back" href="/{{version}}/data-submissions">Back</a>

			<h1 class="heading-large">
				Individualised Learner Records (ILR)
			</h1>

			{% if not data['ilr-submission-status'] %}
			<div class="warning-summary">
				<p class="notice">
					<i class="icon icon-important">
						<span class="visually-hidden">Warning</span>
					</i>
					<strong class="bold-small">
						You haven't submitted an ILR file for Return period 6 (R06) yet.
					</strong>
				</p>
			</div>
			{% elif data['ilr-submission-status'] == 'processing' %}
			<div class="info-summary">
				<h3 class="heading-medium">Your recent ILR submission</h3>
				<p>We are currently processing <a href="{{ ilr_url }}">your latest ILR submission</a> and you will receive an email when it has been processed.</p>
			</div>
			{% elif data['ilr-submission-status'] == 'processed' %}
			<p class="notice">
				<i class="icon icon-important">
					<span class="visually-hidden">Warning</span>
				</i>
				<strong class="bold-small">
					{% if '01-B' in data['file-upload'] %}
					Your <a href="{{ ilr_url }}">latest ILR submission</a> has been processed. 
					{% else %}
					Your <a href="{{ ilr_url }}">latest ILR submission</a> contains errors.
					{% endif %}
				</strong>
			</p>
			{% endif %}

			<p>
				<a href="/{{version}}/submit-your-ilr" class="button">Submit an ILR file</a>
			</p>
			{% if data['file-upload'] %}
			<p class="font-xsmall">Your most recent upload was on {{ data['file-date'] }}</p>
			{% endif %}

			<ul class="list">
				<li><a href="#">View your ILR history</a></li>
			</ul>

			<h2 class="heading-medium">Get help with your ILR return</h2>
			<ul class="list list-bullet">
				<li>
					<a href="https://govuk-elements.herokuapp.com/snippets/">
						Guide to GOV.UK Elements
					</a>
				</li>
				<li>
					<a href="https://www.gov.uk/service-manual">
						Service design manual
					</a>
				</li>
				<li>
					<a href="https://www.gov.uk/design-principles">
						Government Digital Service Design Principles
					</a>
				</li>
			</ul>
		</div>

		<div class="column-one-third">
			{% include '../includes/_return-period-info.html' %}
		</div>
	</div>
</main>
{% endblock %}