{% extends "layout.html" %}

{% block page_title %}
{{serviceName}}
{% endblock %}

{% block content %}
{% include '../includes/_header-nav.html' %}

<main id="content" role="main">
	{% include version + '/includes/_phase-banner.html' %}

	<div class="grid-row">
		<div class="column-two-thirds">
			<h1 class="heading-large">
				Submit your data
			</h1>

			<h2 class="heading-medium">
				<a href="./data-submissions/ilr">Individualised Learner Records (ILR)</a>
			</h2>

			<p>Sunt quis duis eiusmod dolor cillum eu sint qui ea nostrud laboris sunt anim sit fugiat deserunt dolor aute dolor cillum est aliqua nisi sed ut mollit duis sint amet cupidatat.</p>

			<ul class="list">
				<li><a href="/{{version}}/submit-your-ilr">Submit an ILR file</a></li>
				<li><a href="#">View your ILR history</a></li>
			</ul>

			<hr>

			<h2 class="heading-medium">
				<a href="#">Earnings Adjustment Statement (EAS)</a>
			</h2>

			<p>Lorem ipsum ea adipisicing nulla enim tempor id aute sunt ut mollit cupidatat in nostrud in incididunt excepteur est aute in id officia anim id sunt ut consequat dolore reprehenderit minim amet qui ut voluptate fugiat officia minim culpa dolore.</p>

			<ul class="list">
				<li><a href="#">Manage your EAS return</a></li>
			</ul>

			<hr>

			<h2 class="heading-medium">Other resources</h2>

			<ul class="list list-bullet">
				<li>
					<a href="https://govuk-elements.herokuapp.com/snippets/">
						Guide to GOV.UK Elements
					</a>
				</li>
				<li>
					<a href="https://www.gov.uk/service-manual">
						Service design manual
					</a>
				</li>
				<li>
					<a href="https://www.gov.uk/design-principles">
						Government Digital Service Design Principles
					</a>
				</li>
			</ul>
		</div>

		<div class="column-one-third">
			<aside class="govuk-related-items" data-module="track-click" role="complementary">
				<h2 class="heading-medium">
					Claiming funding for your organisation
				</h2>

				<nav role="navigation">
					<ul>
						<li>
							<a href="#">How to return ILR final funding claims to the ESFA</a>
						</li>
						<li>
							<a href="#">Data collection for further education providers</a>
						</li>
						<li>
							<a href="#">Further education funding data</a>
						</li>
						<li>
							<a href="#">ESFA: Inform newsletter</a>
						</li>
					</ul>
				</nav>
			</aside>
		</div>
	</div>
</main>
{% endblock %}