{% extends "layout.html" %}

{% set serviceName = 'Submit your data' %}

{% block page_title %}
{{serviceName}}
{% endblock %}

{% block content %}

<main id="content" role="main">
	{% include version + '/includes/_phase-banner.html' %}

	<!-- <div class="breadcrumbs">
		<ol>
			<li>
				<a href="/{{version}}/sfs">
					{{data['provider-name'] or "Cambridge College"}}
				</a>
			</li>
			<li>
				<a href="#content">
					Submit your data
				</a>
			</li>
		</ol>
	</div> -->
	<div class="grid-row">
		<div class="column-two-thirds">
			<!-- <h1 class="heading-xlarge">
				Submit your data
			</h1> -->

			<h2 class="heading-large">
				Individualised Learner Records (ILR)
			</h2>

			<!-- THIS IS NOT ESFA CONTENT -->
			<!-- TAKEN FROM: http://www.adls.ac.uk/the-information-authority/individualised-learner-record/?detail -->
			<p>The Individualised Learner Record (ILR) is a dataset that collects information on learners and their learning in the Further Education system in England.</p>
			<p>The ILR return is compulsory for state funded Further Education in England.</p>
			<!-- END SNIPPET -->

			<p>
				You can use this service to:
			</p>
			<ul class="list list-bullet">
				<li><a href="/{{version}}/submit-your-ilr">Submit ILR data</a></li>
				<li><a href="/{{version}}/history?filter-submissions=true&filter-ilr=true">View your ILR history</a></li>
			</ul>

			<h2 class="heading-large">
				Earnings Adjustment Statement (EAS)
			</h2>

			<p>The Earnings Adjustment Statement (EAS) is an online process used to claim funding that is not reported in the Individualised Learner Record (ILR).</p>

			<p>
				You can use this service to:
			</p>
			<ul class="list list-bullet">
				<li><a href="#">Manage your EAS return</a></li>
			</ul>
		</div>
	</div>
</main>
{% endblock %}