{% extends "layout.html" %}

{% block page_title %}
Submit ILR data
{% endblock %}

{% block service_name %}
Submit ILR data
{% endblock %}

{% block content %}

<main id="content" role="main">
	{% include './includes/_phase-banner.html' %}

	<a class="link-back" href="javascript:history.back()">Back<span class="visuallyhidden"> to the previous page</span></a>

	<div class="grid-row">
		<div class="column-two-thirds">
			<h1 class="heading-large">
				Which type(s) of funding do you need to make Earnings adjustments for?
			</h1>

			<div class="panel panel-border-wide">
				This claim is for {{data['eas-month']}} 2018
			</div>

			<form action="excess-learning-support">
				<div class="form-group">
				{% for fundingType in
					[
					'Apprenticeships for starts before 1 May 2017',
					'16-19 (excluding Apprenticeships',
					'Other 16-19',
					'Adult skills',
					'Community Learning',
					'ESF',
					'Other Adult',
					'Apprenticeships from 1 May 2017 (or available for non-funded learning aims)'
					] %}
					<div class="multiple-choice">
						<input id="checkbox-{{fundingType}}" type="checkbox" name="eas-type" value="{{fundingType}}">
						<label for="checkbox-{{fundingType}}">{{fundingType}} 2018</label>
					</div>
					{% endfor %}
				</div>

					<input type="submit" value="Continue" class="button">
				</form>
			</div>

			<div class="column-third">
			</div>
		</div>
	</main>

	{% endblock %}