{% extends "layout.html" %}

{% block page_title %}
Add a claim for other funding (EAS)
{% endblock %}

{% block service_name %}
Add a claim for other funding (EAS)
{% endblock %}

{% block content %}

<main id="content" role="main">
	{% include './includes/_phase-banner.html' %}

	<a class="link-back" href="javascript:history.back()">Back<span class="visuallyhidden"> to the previous page</span></a>

	<div class="grid-row">
		<div class="column-two-thirds">
			<h1 class="heading-large">
				<span class="heading-secondary">Add a new claim</span>
				Enter the amount of funding being claimed for each choose-category
			</h1>

			<form action="choose-category">
				<div class="form-group">
					<fieldset>
						{% set inputs = [{
							name: 'Excess Learning Support'
						},
						{
							name: 'Exceptional Learning Support'
						},
						{
							name: 'Audit Adjustments'
						},
						{
							name: 'Authorised Claims'
						},
						{
							name: 'Learner Support'
						},
						{
							name: 'Vulnerable bursary'
						},
						{
							name: 'Discretionary bursary'
						},
						{
							name: 'Free meals'
						},
						{
							name: 'Area costs audit adjustment'
						}] %}

						{% for input in inputs %}

						{% if input.excluded == data['category'] %}
						moo
						{% endif %}

						<div class="form-group">
							<label class="form-label" for="input--{{ input.name | lower | replace(" ", "_") }}">
								{{input.name}}
							</label>
							<div class="govuk-currency-input__inner">
								<span class="govuk-currency-input__inner__unit">£</span>
								<input class="govuk-currency-input__inner__input form-control form-control-1-4" aria-label="Enter amount in pounds" name="input--{{ input.name | lower | replace(" ", "_") }}" data-non-numeric="" id="input--{{ input.name | lower | replace(" ", "_") }}" pattern="[0-9]\d*(\.\d+)?" type="text">
							</div>

						</div>
						{% endfor %}
					</fieldset>
				</div>

				<input type="submit" value="Continue" class="button">
			</form>
		</div>

		<div class="column-third">
		</div>
	</div>
</main>

{% endblock %}