{% extends "layout.html" %}

{% block page_title %}
{{serviceName}}
{% endblock %}

{% block content %}
{% include version + '/includes/_header-nav.html' %}

<main id="content" role="main">
	{% include version + '/includes/_phase-banner.html' %}

	<a class="link-back" href="/{{version}}/data-submissions">Back</a>

	<div class="grid-row">
		<div class="column-two-thirds">
			<h1 class="heading-large">
				Individualised Learner Records (ILR)
			</h1>

			{% if not data['ilr-submission-status'] %}
			<div class="warning-summary">
				<p class="notice">
					<i class="icon icon-important">
						<span class="visually-hidden">Warning</span>
					</i>
					<strong class="bold-small">
						You haven't submitted an ILR file for Return period 6 (R06) yet.
					</strong>
				</p>
			</div>

			<div class="panel panel-border-wide">
				<p>If you don't submit a file before <a href="#">this return period</a> closes then amet non culpa voluptate exercitation cillum in aliqua et quis eiusmod qui exercitation commodo consectetur sint do.</p>
			</div>
			{% elif data['ilr-submission-status'] == 'processing' %}
			<div class="info-summary">
				<h3 class="heading-medium">Your recent ILR submission</h3>
				<p>We are currently processing <a href="ilr/details">your latest ILR submission</a> and you will receive an email when it has been processed.</p>
			</div>
			{% elif data['ilr-submission-status'] == 'processed' %}
			<div class="success-summary">
				<h3 class="heading-medium">Your latest ILR submission has been processed</h3>
				<p>We found details for <span class="bold">243 learners</span>. A total of <span class="bold">77 rule warnings</span> were detected. <a href="ilr/details">View more details</a> about your latest submission.</p>
			</div>
			{% elif data['ilr-submission-status'] == 'errors' %}
			<div class="error-summary">
				<h3 class="heading-medium">Your recent ILR submission</h3>
				<p>Your <a href="ilr/details">latest ILR file</a> contains a number of errors or warnings.</p>
				<p>We were able to find details for <span class="bold">21 learners</span>.</p>
				<p>If this is not the number of learners you were expecting, <a href="#">check the generated error reports</a> and re-submit your file.</p>
			</div>
			{% endif %}

			<h2 class="heading-medium">
				Submit an ILR file
			</h2>

			<div class="panel panel-border-wide font-xsmall">
				<h2 class="heading-small">15 days left in Return Period 6 (R06)</h2>
				<p class="">
					Return period 6 (R06) closes on Tuesday 6th February 2018 at 6.00 PM
				</p>
				<p><a href="/{{version}}/ilr-dates">See all Return dates</a></p>
			</div>

			<p>
				<a href="/{{version}}/submit-your-ilr" class="button">Submit an ILR file</a>
			</p>

			{% if data['file-upload'] %}
			<p class="font-xsmall">Your last upload was on {{ data['file-date'] }}</p>
			{% endif %}

			{% if data['ilr-submission-status'] and data['ilr-submission-status'] != 'processing' %}
			<div class="panel panel-border-wide">
				<p>If you don't submit any further files before <a href="/{{version}}/ilr-dates">the current return period</a> closes then we will use the information from your <a href="ilr/details">most recent file submission</a> to calculate your funding.</p>
			</div>
			{% endif %}	
		</div>

		<div class="column-one-third" id="sidebar">
			<aside class="govuk-related-items">
				<h2 class="heading-medium">Get help with your ILR return</h2>
				<ul class="list">
					<li>
						<a href="https://govuk-elements.herokuapp.com/snippets/">
							Guide to GOV.UK Elements
						</a>
					</li>
					<li>
						<a href="https://www.gov.uk/service-manual">
							Service design manual
						</a>
					</li>
					<li>
						<a href="https://www.gov.uk/design-principles">
							Government Digital Service Design Principles
						</a>
					</li>
				</ul>
			</aside>
		</div>
	</div>
</main>
{% endblock %}