{% extends "layout.html" %}

{% block page_title %}
{{serviceName}}
{% endblock %}


{% block content %}
{% include './includes/_header-nav.html' %}

<main id="content" role="main">
	<div class="service-info">
		<div class="phase-banner-beta">
			<p>
				<strong class="phase-tag">BETA</strong>
				<span>This is a new service – your <a href="https://www.surveymonkey.co.uk/r/accessmylevysurvey" target="_blank">feedback</a> will help us to improve it. </span>
			</p>
		</div>
	</div>

	<div class="grid-row">
		<div class="column-third">
			<h2 class="heading-medium">Filter submissions</h2>
			<form>
				<fieldset>
					<legend>
						<h3 class="heading-small">History type</h3>
					</legend>
					<div class="form-group">
						<div class="multiple-choice">
							<input id="ilr" name="filter-ilr" type="checkbox" value="ilr">
							<label for="ilr">Reports</label>
						</div>
						<div class="multiple-choice">
							<input id="eas" name="filter-eas" type="checkbox" value="eas">
							<label for="eas">Submissions</label>
						</div>
					</div>
				</fieldset>

				<fieldset>
					<legend>
						<h3 class="heading-small">Submission types</h3>
					</legend>
					<div class="form-group">
						<div class="multiple-choice">
							<input id="ilr" name="filter-ilr" type="checkbox" value="ilr">
							<label for="ilr">Individualised Learner Records</label>
						</div>
						<div class="multiple-choice">
							<input id="eas" name="filter-eas" type="checkbox" value="eas">
							<label for="eas">Earnings Adjustment Statements</label>
						</div>
						<div class="multiple-choice">
							<input id="funding-claims" name="filter-funding-claims" type="checkbox" value="funding-claims">
							<label for="funding-claims">Funding claims</label>
						</div>

					</div>
				</fieldset>

				<fieldset>
					<legend>
						<h3 class="heading-small">Return year</h3>
					</legend>
					<div class="form-group">
						<div class="multiple-choice">
							<input id="ilr" name="filter-ilr" type="checkbox" value="ilr">
							<label for="ilr">2017/18</label>
						</div>
						<div class="multiple-choice">
							<input id="eas" name="filter-eas" type="checkbox" value="eas">
							<label for="eas">2016/17</label>
						</div>
						<div class="multiple-choice">
							<input id="funding-claims" name="filter-funding-claims" type="checkbox" value="funding-claims">
							<label for="funding-claims">2015/16</label>
						</div>

					</div>
				</fieldset>

				<input type="submit" class="button" value="Filter">
			</form>
		</div>
		<div class="column-two-thirds">
			<h1 class="heading-large">
				Your submission history
			</h1>
		</div>
	</div>
</main>
{% endblock %}