<div class="grid-row">
  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Date of release</dt>
      <dd>16 November 2017</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Feature</dt>
      <dd>Claim capture</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Related stories</dt>
      <dd></dd>
    </dl>
  </div>
</div>

<h3 class="heading-small">Changes</h3>

<p>
  Added payment details onto the paused claim view.
</p>

<p>
  Added a way to edit the information on a paused claim before it's put into 
  payments.
</p>

<p>
  Added 'sex' to the claimant details, to be able to accurately determine the 
  State Pension age.
</p>

<h3 class="heading-small">Research notes</h3>
<p>
  Research notes to follow.
</p>

<br />

<a href="/claim-capture/version-4" class="button button-start">Start now</a>
