<div class="grid-row">
  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Sprint start date</dt>
      <dd>2 April 2018</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Features</dt>
      <dd>Online ILR submission</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Related stories</dt>
      <dd>n/a</dd>
    </dl>
  </div>
</div>

<h2 class="heading-medium">Changes made</h2>
<p>
  Combined the online ILR submission flow with the earlier stripped-down version of the service
</p>

<h2 class="heading-medium">Research notes</h2>
<p>
  None
</p>

<br />

<a href="/version-3" class="button button-start">Start now</a>
