<div class="grid-row">
  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Sprint start date</dt>
      <dd>1 May 2018</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Features</dt>
      <dd>ILR and EAS combined flows</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Related stories</dt>
      <dd>n/a</dd>
    </dl>
  </div>
</div>

<h2 class="heading-medium">Changes made</h2>
<p>
  ILR submission split in to two steps: check and submit.
</p>

<p>
	Combined with EAS journey.
</p>

<h2 class="heading-medium">Research notes</h2>
<p>
  None
</p>

<br />

<a href="/version-5" class="button button-start">Start now</a>
