<div class="grid-row">
  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Date of release</dt>
      <dd>n/a</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Feature</dt>
      <dd>Stripped down functionality</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Related stories</dt>
      <dd>n/a</dd>
    </dl>
  </div>
</div>

<h2 class="heading-medium">Changes made</h2>
<p>
  Removed a large amount of functionality following feedback from Alpha assessment.
</p>
<p>
  Looking to broaden the scope of the research to get more insight into user needs. Reducing design decisions based on existing system functionality.
</p>

<h2 class="heading-medium">Research notes</h2>
<p>
  None
</p>

<br />

<a href="/version-2" class="button button-start">Start now</a>
