{% extends "./layout.html" %}

{% set serviceName = 'Submit ILR data' %}

{% block page_title %}
{{serviceName}} - GOV.UK
{% endblock %}


{% block page_scripts %}
<script>
	{% include './frontend-js/ilr-upload.js' %}
</script>
{% endblock %}

{% block content %}
<main id="content" role="main">
	{% include './includes/_phase-banner.html' %}
	
	<a class="link-back" href="javascript:history.back()">Back<span class="visuallyhidden"> to the previous page</span></a>

	<div class="grid-row">
		<div class="column-two-thirds">
			<h1 class="heading-large">
				ILR file uploaded
			</h1>

			{% if data['ilr-status'] == 'errors' %}
			<div class="error-summary">
				<h3 class="heading-medium">Errors were found in this file that may prevent funding from being calculated correctly</h3>
				<p>
					Detail about the errors that were detected can be found in <a href="#">error reports</a>.
				</p>
			</div>
			{% else %}
			<div class="success-summary">
				<h3 class="heading-medium">No issues were detected that might prevent this file from being processed</h3>
			</div>
			{% endif %}

			{% include './includes/_file-details.html' %}

			<a class="button" href="check-your-details" role="button" id="upload-complete-button">Continue</a>

		</div>

		<div class="column-third">

		</div>
	</div>
</main>
{% endblock %}